Registration of Well-known URI, DNS-SD and DID Service Names, CoRE Resource Type

We need to register the following names required for the Introduction mechanism.  Is there anyone familiar with the registration process and can help to get these registered?

NOTES: 
1. Before sending these off, make sure they are consistent with the spec as written.  I (@mmccool) have been making edits to the description here as I go.  For example, the section numbers had to be bumped up since we inserted a new section above them.
2. We need to also register the DID service names, and that section needs work as well.   See below, but after discussing this with Manu Sporny, we need to make a PR into a DID registry repo with the proposed service names.  Following Manu's suggestion, I think now we should use WotThing and WotDirectory, with the same meanings as wot.thing and wot.directory used for CoRE.   I have created another issue to update the spec itself: https://github.com/w3c/wot-discovery/issues/393

### Section 5.2 Well-Known URIs
Send a following registration requests to <wellknown-uri-review@ietf.org>.  see [RFC8615](https://datatracker.ietf.org/doc/html/rfc8615) section 3.1 
- URI suffix: wot
- Change controller: World Wide Web Consortium (https://www.w3.org/ ) or W3C Web of Things Working Group (https://www.w3.org/WoT/wg/)?
- Specification Documents: Web of Things (WoT) Discovery (https://www.w3.org/TR/wot-discovery/ )  Section  6.2
- Status: permanent

### Section 5.3 DNS-Based Service Discovery
Register to IANA [Service Name and Transport Protocol Port Number Registry](https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml)
(from [this form](https://www.iana.org/form/protocol-assignment)?).  See [RFC8552](https://datatracker.ietf.org/doc/html/rfc8552) section 4.1, [RFC6335](https://datatracker.ietf.org/doc/html/rfc6335), [RFC8126](https://datatracker.ietf.org/doc/html/rfc8126).
- Service Name: wot
- Transport Protocol: TCP, UDP
- Assignee: (the organization, company or individual person responsible for the initial assignment.  W3C or WoT WG?)
- Contact: ( Name and email address of the Contact person for the assignment.  One of Chairs or Editors?)
- Description: Service name to search a Thing or a Thing Description Directory of W3C Web of Things.   
- Reference: Web of Things (WoT) Discovery (https://www.w3.org/TR/wot-discovery/ )  Section  6.3 
- Port Number: N/A
- Assignment Notes:
  - RR Type: PTR, SRV, TXT
  - We also want to register subtype "_directory" for selectively search WoT directory service.

### Section 5.4 CoRE Link Format and CoRE Resource Directory
Registration requests should be sent to the core-parameters@ietf.org mailing list, marked clearly in the subject line (e.g., "NEW RESOURCE TYPE - wot.thing and wot.directory").  See [RFC6690](https://datatracker.ietf.org/doc/html/rfc6690) section 7.4
- Attribute Value: wot.thing, wot.directory
- Description:
  - wot.thing: link to WoT Thing Description of a Thing 
  - wot.directory: link to WoT Thing Description of a Thing Description Directory
- Reference: Web of Things (WoT) Discovery (https://www.w3.org/TR/wot-discovery/ )  Section  6.4

https://github.com/w3c/wot-discovery/issues/193#issuecomment-852877313
Should we change a suffix of Well-known URI to `wot-td`?

Note: there is text in the spec, but this issue will only be closed once actual IANA registration has been done.

Discussion in Discovery 22.8:
- Ideally these are pre-CR but pre-PR ok
- Separate procedure than W3C
- If takes longer than expected will have to negotiate with PLH, etc.
Consensus: 
- No changes expected, let's proceed with registrations.
- Add Ed note to document that these are in progress (mmccool to do PR).

McCool will do, will put Kaz's name and email as contact.

We may also need to register the service names for DID documents.  See https://github.com/w3c/wot-discovery/issues/65.  I will ping the DID group to ask if there is a process.

Well-Known registration request sent.  Based on the RFC I included some additional information on the media type of the resource, and I also provided (updated) section numbers.  Here is the actual content of the email; probably should update the matching Considerations section to match.

<hr><quote>
The W3C Web of Things (WoT) WG would like to register a well-known URI to support WoT Discovery.  Here is the requested information; please contact me (Michael McCool, [Michael.mccool@intel.com](mailto:Michael.mccool@intel.com)) if you need to discuss or need additional information.
 
These specs are under final review and are expected to enter W3C Candidate Recommendation status this September.
* URI suffix: wot
* Change controller: W3C Web of Things Working Group (https://www.w3.org/WoT/wg/)
* Contacts: Michael McCool ([michael.mccool@intel.com](mailto:michael.mccool@intel.com)), Kazuyuki Ashimoto ([ashimura@w3.org](mailto:ashimura@w3.org)), or [team-wot@w3.org](mailto:team-wot@w3.org)
* Specification Documents:
    - Web of Things (WoT) Discovery (https://www.w3.org/TR/wot-discovery/ ), Section 6.2
    - Media Type of resource is defined here: Web of Things (WoT) Thing Description 1.1 (https://www.w3.org/TR/wot-thing-description11/ ) and will be application/td+jsonld (see section 12.1) or (for compatibility reasons) application/json (see section 7.2 of the WoT Discovery specification)
* Status: permanent

DNS-SD registration has been made.  The form did not reflect my submission and I provided Kaz's email, so I did not get a copy.  I will ask Kaz to provide a copy of the request when he (I assume) gets an acknowledgement via email.

Hmmm... the WoT Discovery doc says registration should be to "Underscored and Globally Scoped DNS Node Names" but I sent registration to "Service Name and Transport Protocol Port Number Registry" as specified above. 
 Which one is correct?  

The CoRE parameters request has been sent, with the following text:

<hr>

The W3C Web of Things (WoT) WG is requesting two new resource types for the CoRE Links and Resource Directories:
* Attribute Value: wot.thing, wot.directory
* Description:
    - wot.thing: link to WoT Thing Description of a Thing
    - wot.directory: link to WoT Thing Description of a Thing Description Directory
* Reference: Web of Things (WoT) Discovery (https://www.w3.org/TR/wot-discovery/ ) Section 6.4 (https://www.w3.org/TR/wot-discovery/#introduction-core-rd-sec )

Ugh.  For DID service names WotThing and WotDirectory, it seems these are actually RDF terms, which mean they should actually be URLs defined... somewhere.  In a DID Document (which is a JSON-LD document) it occurs to me we could define the terms in the `@context` directly, but we need to define the terms using a URL.  So... we should actually define the *URLs* in the WoT Discovery document (I think).  I have created issue #393 and will update it with these requirements.  I think the easiest thing to do is define these as part of the wot-discovery ontology and under the context URL defined for that.

This can wait until PR, still in progress.

No, it seems we do need to get the names nailed down by CR transition.  So we will just have to work over the next two weeks to get it done... or at least started.

According to the above the well-known URI and Core-RD registration requests were sent, I need to confirm that they were approved.

Here is the link for well-known URIs.  I checked that the email was indeed sent (on 8-23) but wot does not yet appear: https://www.iana.org/assignments/well-known-uris/well-known-uris.xhtml.  Apparently though there was an issue created with a few questions, see https://github.com/protocol-registries/well-known-uris/issues/24; I have updated the text to:
```
URI suffix: wot
Change controller: [team-wot@w3.org](mailto:team-wot@w3.org)
Specification document(s): See the WoT Discovery specification (https://www.w3.org/TR/wot-discovery/#introduction-well-known)
```

I have not seen any response to the CoRE registration.  The registry is also maintained by IANA and is located here; wot does not (yet) appear: https://www.iana.org/assignments/core-parameters/core-parameters.xhtml#rt-link-target-att-value
I have pinged the core-parameters email again but will also check with Carsten Bormann.

Confirmation: both IANA and CoRE-RD registrations have now been completed.

DID is still not done, need to clean up URLs.  See https://github.com/w3c/did-spec-registries/pull/486 and https://github.com/w3c/wot-discovery/issues/463

All done, and now consistent.  Can close.