Clarify `Location` header content

I'm following these assertions:
> Upon successful processing, the server MUST respond with 201 (Created) status and a Location header containing a system-generated identifier for the TD.

The text informally redirects the reader to the definition of this system-generated identifier.

> The local identifier SHOULD be a UUID Version 4, presented as a URN [[RFC4122](https://w3c.github.io/wot-discovery/#bib-rfc4122)].

In my understanding, the two would allow location headers that contain simply the UUID 4 of the generated TD. The assumption is also followed in the @farshidtz test bed, where the content of the Location Header is concatenated to the server `basepath` plus `/things`. This, however, goes against the [definition](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Location) where it is clearly mentioned that the content of the header must be an URL:
> A relative (to the request URL) or absolute URL.

Is this bug? Or I am missing something?



> The text informally redirects the reader to the definition of this system-generated identifier.
> 
> > The local identifier SHOULD be a UUID Version 4, presented as a URN [[RFC4122](https://w3c.github.io/wot-discovery/#bib-rfc4122)].

This is an assertion, referencing another specification. Why is it informal?

The definition from Mozilla is not accurate. Location header must be a relative or absolute URI, not URL. Our assertion recommends using a URN which is absolute.

https://datatracker.ietf.org/doc/html/rfc3986#section-4.2
https://en.wikipedia.org/wiki/HTTP_location

> This is an assertion, referencing another specification. Why is it informal?

I was referring to the text right after assertion 1:
> the scheme of the system-generated ID is described in [7.3.1.3 Anonymous TD Identifiers](https://w3c.github.io/wot-discovery/#exploration-directory-anonymous-td).

> The definition from Mozilla is not accurate. Location header must be a relative or absolute URI, not URL. Our assertion recommends using a URN, which is a URI.
>
>https://datatracker.ietf.org/doc/html/rfc3986#section-4.2
https://en.wikipedia.org/wiki/HTTP_location
https://datatracker.ietf.org/doc/html/rfc8141#section-4.3

Sorry but the references that you pointed out are not actually saying anything about the type of Location header. If anything the Wikipedia page actually stresses the fact that it is an URL. I think you probably meant to send this section https://www.rfc-editor.org/rfc/rfc9110.html#section-10.2.2, right? 

That section states that the Location should point to a URI-Reference, as you stated above. However, the debate on URLs and URIs settled not long ago, and the common knowledge is more in favor of having URLs instead of URNs in the location header (as Mozilla and other documentation prove). 

I just wondering is there any compelling reason why we should sit in that grey area of having URNs and then build the actual URL ourselves?

I would have expected a URL too.

FWIW in WoT Profile the `201 Created` response after invoking an action currently includes a UUID in a URL. See [Example 14](https://w3c.github.io/wot-profile/#example-14):

```
HTTP/1.1 201 CREATED
Content-Type: application/json
Location: /things/lamp/actions/fade/123e4567-e89b-12d3-a456-426655
{
  "status": "pending",
  "href": "/things/lamp/actions/fade/123e4567-e89b-12d3-a456-426655",
  "timeRequested": "2021-11-10T11:43:19.135Z"
}
```



> Sorry but the references that you pointed out are not actually saying anything about the type of Location header. If anything the Wikipedia page actually stresses the fact that it is an URL. I think you probably meant to send this section https://www.rfc-editor.org/rfc/rfc9110.html#section-10.2.2, right?
> 
> That section states that the Location should point to a URI-Reference, as you stated above. However, the debate on URLs and URIs settled not long ago, and the common knowledge is more in favor of having URLs instead of URNs in the location header (as Mozilla and other documentations prove).
> 

Apologies. There must have been some copy paste issues. Your reference is correct.

We chose UUID URN for anonymous IDs and this is what appears in the Location header. If we change the system-generated ID to be a raw UUID, then it won't meet the TD's ID requirements.

What we return in the Location header can be considered a relative URL too. You can refer to the Wikipedia example for "Relative URL relative path". The client would take the Location header value of `urn:uuid:123e4567-e89b-12d3-a456-426655` and construct the full URL `http://tdd.example.com/things/urn:uuid:123e4567-e89b-12d3-a456-426655`.

> I just wondering is there any compelling reason why we should sit in that grey area of having URNs and then build the actual URL ourselves?

This isn't about to URN vs URL. With relative URLs, the client needs to construct the absolute URL. Again, I found these examples useful: https://en.wikipedia.org/wiki/HTTP_location#Examples

Using absolute URLs isn't always suitable because the TDD may be behind a proxy and the full URL (incl. FQDN and context paths) may not be known to the TDD. There may also be cases where a TDD is accessed both locally (behind the proxy) and publicly.

A relative URL with an absolute path suffers from the same issue. so we didn't use `/things/urn:uuid:123e4567-e89b-12d3-a456-426655` in the Location header.

However, looking at the TM, I see we set the POST request path to `/things`, and not `/things/`. If the client POSTs the TD at `/things`, the location header should actually be `things/urn:uuid:123e4567-e89b-12d3-a456-426655`. To fix this, we can update the assertion and say something like:

> Upon successful processing, the server MUST respond with 201 (Created) status and a Location header containing the URL to the system-generated identifier of the TD.

This will leave the decision to use relative or absolute URL to implementations.

> We chose UUID URN for anonymous IDs and this is what appears in the Location header. If we change the system-generated ID to be a raw UUID, then it won't meet the TD's ID requirements.

Agree, in this context, I would not use raw UUID either. 

> What we return in the Location header can be considered a relative URL too.

Are you sure about this? Maybe I'm blanking on my ABNF skills but Location is a `URI-Reference` and the grammar for that is:
```
URI-reference = URI / relative-ref
```
Isn't that a URN get eagerly shallowed into the URI rule? So it should be interpreted as an absolute URI and not as a relative-ref?

> This isn't about to URN vs URL.

yes, I agree with that and I don't want to put that on the discussion either. Perhaps I should update the title to reflect the current state of the discussion...what I want it is that the spec is clearer about how to build and use the Location header and does not use some "ad hoc" rule or interpretation. 

> However, looking at the TM, I see we set the POST request path to /things, and not /things/. If the client POSTs the TD at /things, the location header should actually be things/urn:uuid:123e4567-e89b-12d3-a456-426655. To fix this, we can update the assertion and say something like:

That's also something that made us think and another reason why I started digging into the problem. 

> Upon successful processing, the server MUST respond with 201 (Created) status and a Location header containing the URL to the system-generated identifier of the TD.

Reading this I would return a URL that points to the `string` containing the system-generated identifier of the TD. What about this:
> Upon successful processing, the server MUST respond with 201 (Created) status and a Location header containing the URL *with* the system-generated identifier of the TD *pointing to the TD resource**.

Too much convoluted? 



> > Upon successful processing, the server MUST respond with 201 (Created) status and a Location header containing the URL to the system-generated identifier of the TD.
> 
> Reading this I would return a URL that points to the `string` containing the system-generated identifier of the TD. What about this:

Right. That makes no sense. I was commenting in a rush.

Also I found this in the TM (normative):
https://github.com/w3c/wot-discovery/blob/57cca9c362d870918225c2a3b15e1ea814930dff/directory.tm.json#L127-L132

I'll update the text to match that.

> > What we return in the Location header can be considered a relative URL too.
> 
> Are you sure about this? Maybe I'm blanking on my ABNF skills but Location is a `URI-Reference` and the grammar for that is:
> 
> ```
> URI-reference = URI / relative-ref
> ```
> 
> Isn't that a URN get eagerly shallowed into the URI rule? So it should be interpreted as an absolute URI and not as a relative-ref?

If I understand correctly, the URN falls into `relative-ref` of a URI: https://datatracker.ietf.org/doc/html/rfc8141#section-4.3

This could really benefit from an example BTW. I don't think it's going to be obvious to people that the URN should be used as a relative path as part of an HTTP URL.

> If I understand correctly, the URN falls into relative-ref of a URI: https://datatracker.ietf.org/doc/html/rfc8141#section-4.3

I don't think this applies, but I would be happy to discuss it more today. So the text you cited says:
> [Section 5.2 of [RFC3986]](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2) describes an algorithm for converting a URI
 reference that might be relative to a given base URI into "parsed
 components" of the target of that reference, which can then be
 recomposed per [RFC 3986, Section 5.3](https://datatracker.ietf.org/doc/html/rfc3986#section-5.3) into a target URI.

Which regulates the Relative Resolution of URI-References, however, https://www.rfc-editor.org/rfc/rfc9110.html#section-10.2.2 says that relative resolution is enabled only when the URI `has the form of a relative reference`. Then checking the grammar of relative reference a URN is not a relative reference:
```bash
relative-ref  = relative-part [ "?" query ] [ "#" fragment ]
 relative-part = "//" authority path-abempty # starts with // -> not an URI
                          / path-absolute #  starts with / -> not an URI
                          / path-noscheme # non-zero-length segment without any colon ":" and segments -> not URI
                          / path-empty # empty string
```

Therefore, I think in the end if we want to use the generated URN we must use this form `/{URN}`.

I think #383 solves the issue, but let's review it today. 

> This could really benefit from an example BTW. I don't think it's going to be obvious to people that the URN should be used as a relative path as part of an HTTP URL.

Yes, an example would be great.



Discussion from Discovery call Aug 1:
- PR #383 improves the situation, but does not completely solve it.
- There are also some issues related to non-UUID URLs (such as HTTP URLs) used as IDs, so they will have to encoded in some way if used in *another* URL (like /things/{id}).   See #382 also.

> Which regulates the Relative Resolution of URI-References, however, https://www.rfc-editor.org/rfc/rfc9110.html#section-10.2.2 says that relative resolution is enabled only when the URI `has the form of a relative reference`. Then checking the grammar of relative reference a URN is not a relative reference:
> 
> ```shell
> relative-ref  = relative-part [ "?" query ] [ "#" fragment ]
>  relative-part = "//" authority path-abempty # starts with // -> not an URI
>                           / path-absolute #  starts with / -> not an URI
>                           / path-noscheme # non-zero-length segment without any colon ":" and segments -> not URI
>                           / path-empty # empty string
> ```

True. Thanks for digging deeper!

As discussed in the call, perhaps the best way forward is to treat the `id` in `/things/{id}` as a string, and encode it when necessary (or always). Note that this isn't Location header issue because that very same `id` is used in other directory API URLs. 

No problem! I actually learned a lot by discussing with you and studying more about the new RFC. 

I read #383 changes and I think the underlying problem is now **solved**.  

> As discussed in the call, perhaps the best way forward is to treat the id in /things/{id} as a string, and encode it when necessary (or always). Note that this isn't just a Location header issue because that very same id is used in other directory API URLs.

Yes, I agree, but we can tackle this in #382. We can close this issue, however, it might be better to add a small example about the creation of an anonymous TD as @benfrancis asked. Let me see if I can do a PR. 
