Refine DNS-SD Name Requirements and IANA Consideration

- What exactly needs to be registered?  
     - Just _wot under SRV and TXT?  
     - Do we have to register PTR?  
     - Do we have to register _directory?
- Remove editor's notes (or comment them out), at this point they are confusing
- Then update IANA registration request; for now we will tell them we are working on it (@ashimura will respond to IANA; note: actual registration can be post-CR, but fixing the text in our doc should be pre-CR)

Should also ask PLH - has anyone else done DNS-SD registrations?  (@ashimura will ask)

> What exactly needs to be registered?

We should register a service name `wot` to "Service Name and Transport Protocol Port Number Registry". 
"Underscored and Globally Scoped DNS Node Names registry" is used for register *globally scoped* name ([RFC8552 Section 2](https://datatracker.ietf.org/doc/html/rfc8552#section-2)). 
We use the name `_wot._tcp` for discovery, and the `_tcp` part is Underscored and Globally Scoped DNS Node Name and it has already been registered in the registry ([RFC8552 Section 4.1.2](https://datatracker.ietf.org/doc/html/rfc8552#section-4.1.2)).

> * Just _wot under SRV and TXT?
> * Do we have to register PTR?

"Service Name and Transport Protocol Port Number Registry" does not depend on DNS, so we need not to specify which DNS RR is used. (I apologize for the misleading "Assignment notes" in [Section 11.2](https://www.w3.org/TR/wot-discovery/#service-name).)

> * Do we have to register _directory?

No, we just need to describe the use of subtype `_directory` in the "Note" field of registration request of service name `wot` ([RFC6763 Section 16](https://datatracker.ietf.org/doc/html/rfc6763#section-16)).
 





Are we sure that is the right repository?  This seems to allocate a service name for a TCP port, i.e. HTTP and port 80.  We are registering only a service name for DNS-SD, not a port. 

The other problem is that we DO have CoAP based discovery now, which usually runs over UDP.  So basing our discovery in the _tcp namespace may not be the right thing to do.  Perhaps also we should look at a similar example, for example, LDAP (see [RFC4386](https://www.iana.org/go/rfc4386)).

> Are we sure that is the right repository? This seems to allocate a service name for a TCP port, i.e. HTTP and port 80. We are registering only a service name for DNS-SD, not a port.

According to [RFC6335 Section 2](https://www.rfc-editor.org/rfc/rfc6335.html#section-2), registration of port number for service name is not mandatory:
> _This document defines rules for assignment of service names without
 associated port numbers, for such usages as DNS SRV records
 [[RFC2782](https://www.rfc-editor.org/rfc/rfc2782)], which was not possible under the previous IANA procedures._



> Perhaps also we should look at a similar example, for example, LDAP (see [RFC4386](https://www.iana.org/go/rfc4386)), and maybe should have a "root" (e.g. globally scoped) name after all.  The other option would be to have _wot under both _tcp and _udp...

PKI repository locator *service* (`_PKIXREP`) is provided via LDAP, HTTP or OCSP *protocol*.   In the same way, we can think of the WoT Discovery service (`_wot`) as being provided via TCP or UDP protocols, and I think it is appropriate to use `_wot._tcp` and `_wot._udp`.

(By the way, [RFC6763 Section 7](https://datatracker.ietf.org/doc/html/rfc6763#section-7) says: "_For applications using TCP, the second label is `_tcp`.  For applications using any transport protocol other than TCP, the second label is `_udp`_".  If we were to follow this strictly, we wouldn't be able to use `_http` or other protocol name...) 
 

not QUITE done...

Latest input from @k-toumura and updated in Discovery call 2022-10-24.  Will send to Sam Weiler @samuelweiler for input before forwarding to IANA.

* [Related section in Discovery specification: https://w3c.github.io/wot-discovery/#introduction-dns-sd-sec](https://w3c.github.io/wot-discovery/#introduction-dns-sd-sec)
* [IANA Considerations section in Discovery specification: https://w3c.github.io/wot-discovery/#iana-considerations](https://w3c.github.io/wot-discovery/#iana-considerations)

To make a Thing Description discoverable using DNS-SD, we should request a service name registration in the Service Name and Transport Protocol Port Number Registry.

So we should complete the form at https://www.iana.org/form/ports-services .

The following is draft version of the contents required to register a Service Name “wot”.
 -----
Assignee
Assignee Name: W3C Web of Things Working Group
Assignee E-mail: team-wot@w3.org
Contact Person
Contact Name: Kazuyuki Ashimura
Contact E-mail: ashimura@w3.org
Resource Request
Resource required: Service name only
Transport Protocols: TCP, UDP
Service Code: N/A
Service Name wot
Desired Port Number: N/A
Description: Service name to retrieve a Thing or a Thing Description Directory of W3C Web of Things.
Reference: A Thing or Thing Description Directory may serve their Thing Description using HTTP or CoAP endpoint.  To advertise their presence, a Thing or Thing Description Directory may use DNS-Based Service Discovery (DNS-SD)[RFC6763]. This can also be used on the same local network in combination with Multicast DNS (mDNS)[RFC6762]. For further description, see Web of Things (WoT) Discovery (https://www.w3.org/TR/wot-discovery/ ) Section 6.3.
Defined TXT keys:
td: Absolute pathname of the Thing Description of the Thing or Thing Description of the Thing Description Directory.
type: Type of the Thing Description, i.e. "Thing" or "Directory". If omitted, the type is assumed to be Thing.
scheme: Scheme part of URL. One of the following values can be specified, with the standard registered URI interpretations [RFC7595]: http (HTTP over TCP),https (HTTP over TLS/TCP), coap (CoAP over UDP), coaps CoAP over DTLS/UDP), coap+tcp (CoAP over TCP), or coaps+tcp (CoAP over TLS/TCP). If omitted, the scheme is assumed to be http for TCP and coap for UDP.
Usage Questions:
1) If broadcast/multicast is used, how and what for?
Broadcast and multicast are not used to retrieve a Thing Description.
2) If UDP is requested, please explain how traffic is limited, and whether the protocol reacts to congestion.
CoAP is used as a protocol for obtaining TDs under UDP.  CoAP congestion control (RFC7252 Section 7; https://www.rfc-editor.org/rfc/rfc7252#section-4.7) should be applied.
3) If UDP is requested, please indicate whether the service is solely for the discovery of hosts supporting this protocol.
If discovery by UDP is used, then UDP will used to retrieve TDs using CoAP.   However, a TD may indicate that other protocols, including non-UDP protocols, may be used to communicate with the Thing after discovery is complete.
4) Please explain how your protocol supports versioning.
There is currently no versioning mechanism.  If one needs be added in the future we can add a version field to the 
TXT field and systems that do not use this can be assumed to be version 1.0.
5) If your request is for more than one transport, please explain in detail how the protocol differs over each transport.
On TCP, we use HTTP over TCP, HTTP over TLS/TCP, CoAP over TCP, or CoAP over TLS/TCP
On UDP, we use CoAP over UDP or CoAP over DTLS/UDP.
6) Please describe how your protocol supports security. Note that new services are expected to support security capabilities and to avoid insecure variants.
The protocol will use TLS or DTLS encryption and authentication on HTTP/CoAP as necessary,
and the specification requires this for publically accessible endpoints.  Use of TLS or DTLS is however
not mandatory on local networks (e.g. on private LANs behind firewalls).
7) Please explain why a unique port assignment is necessary as opposed to a port in range (49152-65535) or existing port.
N/A
8) Please explain the state of development of your protocol.
Currently preparing for transition to W3C Candidate Recommendation status.   Expected to be a W3C Recommendation by February 2023.
9) If SCTP is requested, is there an existing TCP and/or UDP service name or port number assignment? If yes, provide the existing service name and port number.
N/A
10) What specific SCTP capability is used by the application such that a user who has the choice of both TCP (and/or UDP) and SCTP ports for this application would choose SCTP?
N/A
11) Please provide any other information that would be helpful in understanding how this protocol differs from existing assigned services.
This service is dedicated to obtaining [W3C Web of Things (WoT) Thing Description at https://www.w3.org/TR/wot-thing-description/](https://www.w3.org/TR/wot-thing-description/)  (and version 1.1 [at https://www.w3.org/TR/wot-thing-description11/](https://www.w3.org/TR/wot-thing-description11/)).  For further description, see the [Web of Things (WoT) Discovery specification (https://www.w3.org/TR/wot-discovery/)](https://www.w3.org/TR/wot-discovery/) Section 6.3.

Request submitted, only change was to description, which had a length limitation.  Shortened form was used: "W3C WoT Thing Description or Directory"

Will leave issue open until IANA registration is finalized.

Registration has been completed.  Here is the response from IANA.  Note the change to the "Description": I had to shorten it due to length restrictions.   I also elided the email addresses although since these are going to be in the registration entry that may be moot.
------

We've added the following entries to the registry:

Service Name: wot
Transport Protocol: tcp	
Description: W3C WoT Thing Description or Directory	
Assignee: W3C Web of Things Working Group <[...](...)>
Contact: Kazuyuki Ashimura <[...](...)>
Registration Date: 2022-11-22
Defined TXT keys: None

Service Name: wot
Transport Protocol: udp	
Description: W3C WoT Thing Description or Directory
Assignee: W3C Web of Things Working Group <[...](...)>
Contact: Kazuyuki Ashimura <[...](...)>
Registration Date: 2022-11-22
Defined TXT keys: None

Please see
https://www.iana.org/assignments/service-names-port-numbers

Hmm: the defined TXT keys are listed as "NONE" although I did actually request the ones above.  Before closing this issue we should double-check that the registration is correct and these were not overlooked.

Registration has been completed but spec still needs to be updated to match (in particular, separate TXT descriptions for UDP and TCP).  Propose holding open until PR #462 is merged, at which point we can close this issue.